/* Importing Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 85px;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  background: #0f0b1a;
  padding: 25px 20px;
  transition: all 0.4s ease;
  z-index: 999;
}

.sidebar:hover {
  width: 260px;
}

.sidebar .sidebar-header {
  display: flex;
  align-items: center;
}

.sidebar .sidebar-header img {
  width: 48px;
  border-radius: 50%;
}

.sidebar .sidebar-header h2 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
  margin-left: 23px;
}

.sidebar-links h4 {
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  margin: 10px 0;
  position: relative;
}

.sidebar-links h4 span {
  opacity: 0;
}

.sidebar:hover .sidebar-links h4 span {
  opacity: 1;
}

.sidebar-links .menu-separator {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  transform: scaleX(1);
  transform: translateY(-50%);
  background: #4f52ba;
  transform-origin: right;
  transition-delay: 0.2s;
}

.sidebar:hover .sidebar-links .menu-separator {
  transition-delay: 0s;
  transform: scaleX(0);
}

.sidebar-links {
  list-style: none;
  margin-top: 20px;
  height: 80%;
  overflow-y: auto;
  scrollbar-width: none;
}

.sidebar-links::-webkit-scrollbar {
  display: none;
}

.sidebar-links li a {
  display: flex;
  align-items: center;
  gap: 0 20px;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  padding: 15px 10px;
  text-decoration: none;
  transition: 0.2s ease;
}

.sidebar-links li a:hover {
  color: #161a2d;
  background: #fff;
  border-radius: 4px;
}

.user-account {
  margin-top: auto;
  padding: 12px 10px;
  margin-left: -10px;
}

.user-profile {
  display: flex;
  align-items: center;
  color: #161a2d;
}

.user-profile img {
  width: 48px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.user-profile h3 {
  font-size: 1rem;
  font-weight: 600;
}

.user-profile span {
  font-size: 0.775rem;
  font-weight: 600;
}

.user-detail {
  margin-left: 23px;
  white-space: nowrap;
}

.sidebar:hover .user-account {
  background: #fff;
  border-radius: 4px;
}

/* Main Section */
.breadcrumbs {
  width: 100%;
  height: 64px;
  background-color: #ddd;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.breadcrumbs .left span {
  color: #198754;
  font-weight: 700;
  font-size: 20px;
}

.breadcrumbs .right {
  display: flex;
  gap: 2rem;
  font-size: 20px;
}

.breadcrumbs .right a {
  color: #333;
}

.dashboard {
  height: 200px;
  display: grid;
  padding: 2rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.dashboard-card {
  border-radius: 10px;
  padding: 1.6rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.dashboard-card h2 {
  color: #333;
  margin-bottom: 0.6rem;
  font-size: 16px;
}

.dashboard-card p {
  font-weight: 700;
  font-size: 32px;
  color: #333;
}

.card-1 {
  background-color: #bed97f;
}

.card-2 {
  background-color: #bed97f;
}

.card-3 {
  background-color: #bed97f;
}

.card-4 {
  background-color: #bed97f;
}

/* Dashboard Table */
.recent-logs {
  padding: 0 1.6rem;
}

.recent-logs h1 {
  margin-bottom: 1rem;
}

.table-log {
  height: 300px;
  overflow-y: scroll;
}

.table-log table.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.table-log table.table td,
.table-log table.table th {
  padding: 10px 6px;
}
.table-log table.table tbody td {
  font-size: 13px;
}
.table-log table.table tr:nth-child(even) {
  background: #d0e4f5;
}
.table-log table.table thead {
  background: #717171;
  text-align: center;
}
.table-log table.table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
}
.table-log table.table tfoot td {
  font-size: 14px;
}
.table-log table.table tfoot .links {
  text-align: right;
}
.table-log table.table tfoot .links a {
  display: inline-block;
  background: #1c6ea4;
  color: #ffffff;
  padding: 2px 8px;
  border-radius: 5px;
}

/* Event Section */
.event-section {
  padding: 2rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 2fr 1fr;
}

.events-panel {
  flex: 1 1 auto;
}

.events-panel h1 {
  text-align: center;
}

.event-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem 1.6rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
  width: fit-content;
  width: 100%;
  margin-bottom: 1rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.event-card:hover {
  transform: translateY(-5px);
}

.event-card span {
  font-size: 1.6rem;
  flex: 0 1 auto;
  color: black;
}

.event-card .event-name {
  flex: 1 1 auto;
  color: #198754;
  text-overflow: ellipsis;
}

.event-card .event-date {
  flex: 0 0 auto;
}

.event-card .event-date,
.event-card .event-coordinator {
  color: #555;
  font-size: 16px;
}

.activity-log-container {
  flex: 0 1 auto;
  border: 1px solid #999;
  border-radius: 10px;
}

.activity-log-container h1 {
  text-align: center;
  padding: 1rem 0;
}

.activity-flex {
  height: 400px;
  overflow-y: scroll;
}

.activity-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid #999;
}

.activity-date {
  display: flex;
  flex-direction: column;
  align-items: end;
  color: #666;
  font-size: 14px;
}

/* Login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.login-flex {
  display: flex;
  justify-content: space-between;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 1rem;
  height: 560px;
}

.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 100%;
  padding: 2rem;
}

.left-panel .logo {
  margin-bottom: 2rem;
  color: #198754;
}

.left-panel .welcome-msg {
  color: #333;
}

.left-panel .input-fields {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 2rem 0;
}

.left-panel .input-fields input[type="text"],
.left-panel .input-fields input[type="password"] {
  padding: 5px 10px;
  width: 100%;
  font-size: 16px;
  border: 1px solid #bdbdbd;
}

.login-btn {
  padding: 5px 10px;
  border: none;
  background-color: #198754;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-bottom: 5px;
}

.login-btn:hover {
  background-color: #136740;
}

.forgot-password {
  text-decoration: none;
  text-align: center;
  color: #777;
}

.right-panel {
  width: 450px;
  overflow: hidden;
  background-image: url(images/login-img.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;
}

/* Employees List */
.employees-list-section {
  padding: 2rem;
}

.top-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-bottom: 2rem;
}

.top-buttons .add-btn {
  text-decoration: none;
  background-color: #198754;
  padding: 10px 15px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}

.top-buttons .add-btn:hover {
  background-color: #136740;
}

.top-buttons .edit-btn {
  text-decoration: none;
  border: 1px solid #333;
  padding: 10px 20px;
  color: #333;
  font-size: 14px;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}

.top-buttons .edit-btn:hover {
  background-color: #333;
  color: #fff;
}

.sort-select {
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #333;
}

.employees-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.employees-grid a {
  text-decoration: none;
  color: #333;
}

.employee-card {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  height: 100%;
}

.employee-img {
  width: 100%;
}

.employee-info {
  padding: 1.4rem 1.6rem;
}

.employee-info .employee-name {
  font-weight: 700;
}

.employee-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.employee-info .employee-position {
  font-size: 14px;
  color: #555;
  margin-bottom: 1rem;
}

.employee-info .employee-status {
  font-size: 14px;
  color: #198754;
  display: inline-block;
  text-align: right;
  flex: 1 0 auto;
  align-self: flex-start;
}

.employee-info .employee-schedule {
  font-size: 14px;
}

/* Personal Window */
.section {
  display: none;
}

.active {
  display: block;
}

.employee-profile-section {
  padding: 2rem;
}

.menu-buttons {
  display: flex;
}

.menu-buttons button {
  padding: 10px 15px;
  border: none;
  background-color: #eee;
  cursor: pointer;
  transition: 0.3 ease-in-out;
}

.menu-buttons button:hover {
  background-color: #ddd;
}

.personal-info-window {
  display: flex;
  justify-content: center;
  background-color: #eee;
  padding: 2rem;
  gap: 2rem;
}

.profile-card {
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.profile-card img {
  width: 360px;
}

.profile-card .employee-name {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.profile-card .employee-role {
  text-align: center;
  color: #555;
}

.profile-info {
  padding: 2rem;
}

.profile-info p {
  color: #555;
}

.profile-info p span {
  color: black;
}

.basic-information {
  background-color: #fff;
  padding: 2rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  /* min-width: 50rem; */
}

.basic-info-field {
  display: flex;
  gap: 10rem;
  margin-bottom: 2rem;
}

.personal-information-field {
  display: flex;
  gap: 6rem;
  margin-bottom: 2rem;
}

/* Attendance Window */
.attendance-window {
  background-color: #eee;
  padding: 2rem;
}

table.attendance-table {
  border: 1px solid #1c6ea4;
  background-color: #ffffff;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.attendance-table td,
table.attendance-table th {
  border: 1px solid #525252;
  padding: 5px 5px;
}
table.attendance-table tbody td {
  font-size: 13px;
}
table.attendance-table tr:nth-child(even) {
  background: #ececec;
}
table.attendance-table thead {
  background: #198754;
  border-bottom: 0px solid #444444;
}
table.attendance-table thead th {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  border-left: 0px solid #d0e4f5;
}
table.attendance-table thead th:first-child {
  border-left: none;
}

table.attendance-table tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}
table.attendance-table tfoot td {
  font-size: 14px;
}
table.attendance-table tfoot .links {
  text-align: right;
}
table.attendance-table tfoot .links a {
  display: inline-block;
  color: #1a1a1a;
  padding: 2px 8px;
  text-decoration: none;
}

.attendance-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
}

.search-bar input[type="text"] {
  background: none;
  border: none;
  font-size: 14px;
  width: 100%;
}

.search-bar input[type="text"]:focus {
  outline: none;
}

.search-bar {
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #333;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

/* Payroll Window */
.payslip-window {
  background-color: #eee;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.payslip-table {
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  width: 50%;
  height: 100%;
  padding: 2rem;
}

.payslip-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 0.3rem;
  margin: 0.6rem 0 2rem 0;
  height: 100%;
}

.total-qty {
  font-weight: 700;
}

.overall-total {
  grid-column: 2/3;
  margin-top: 2rem;
}

/* Documents Window */
.documents-window {
  background-color: #eee;
  padding: 2rem;
  gap: 2rem;
}

.documents-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.documents-menu .add-btn {
  text-decoration: none;
  background-color: #198754;
  padding: 10px 15px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}

.documents-menu .add-btn:hover {
  background-color: #136740;
}

.documents-menu .edit-btn {
  text-decoration: none;
  outline: 1px solid #333;
  padding: 10px 20px;
  color: #333;
  font-size: 14px;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}

.documents-menu .edit-btn:hover {
  background-color: #333;
  color: #fff;
}

.documents-menu .archive-btn {
  text-decoration: none;
  outline: 1px solid #c51e3a;
  padding: 10px 20px;
  color: #c51e3a;
  font-size: 14px;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}

.documents-menu .archive-btn:hover {
  background-color: #c51e3a;
  color: #fff;
}

.documents-menu .sort-select {
  padding: 10px 15px;
  font-size: 14px;
  border: none;
  outline: 1px solid black;
}

.document-card {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 10px 15px;
  background-color: #fff;
  color: #333;
  margin-bottom: 1rem;
  transition: 0.3s ease-in-out;
}

.document-card:hover {
  outline: 1px solid black;
}

.filename {
  justify-self: flex-start;
  flex: 1 1 auto;
}
/*  */
.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 0 1rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  border: none;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
/*  */

.document-card .setting {
  flex: 0 0 auto;
}

/* Documents Section */
.documents-section {
  padding: 2rem;
}

.documents-container {
  background-color: #eee;
  padding: 2rem;
}

/* Messages Section */
.messages-section {
  padding: 2rem;
}

.messages-container {
  padding: 2rem;
  background-color: #eee;
}

.messages-search-bar {
  width: 100%;
}

.messages-top-menu {
  display: flex;
  gap: 2rem;
}

.messages-cards {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.messages-card {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 10px 15px;
  background-color: #fff;
  cursor: pointer;
}

.messages-card:hover {
  outline: 1px solid black;
}

.message-name {
  flex: 1 0 auto;
  font-weight: 700;
  width: 340px;
}

.message-text {
  flex: 0 1 auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Calendar Section */
.calendar-section {
  padding: 2rem;
}

.calendar-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.events-list-container {
  background-color: #eee;
  padding: 2rem;
  flex: 1 1 auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
}

.events-list-container h1 {
  margin-bottom: 1rem;
}

.events-list-container .event-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.events-list-container .event-card {
  background-color: #fff;
}

.calendar-event-name {
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1 1 auto;
}

.calendar-event-date {
  color: #555;
  font-size: 12px;
  text-align: right;
}

.calendar {
  width: 720px;
  height: 540px;
  overflow-y: hidden;
}

/* Add Employees */
.add-employees-section {
  padding: 2rem;
}

.add-employees-container {
  display: flex;
  overflow: hidden;
  background-color: #eee;
  padding: 0 2rem;
  gap: 2rem;
}

.add-employee-picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-employee-picture button {
  cursor: pointer;
  margin: 1rem;
  border: none;
  background: none;
}

.add-employee-picture button p {
  background-color: #198754;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 15px;
  transition: 0.3s ease-in-out;
}

.add-employee-picture button:hover > p {
  background-color: #136740;
  border-radius: 20px;
}

.employee-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.6rem;
  column-gap: 1rem;
  padding: 2rem 0;
}

.employee-details input[type="text"],
.employee-details input[type="number"],
.employee-details input[type="date"],
.employee-details input[type="time"],
.employee-details select {
  padding: 5px 10px;
  font-size: 16px;
  width: 100%;
}

.employee-details .grid-div {
  width: 100%;
}

.shift-flex {
  display: flex;
  gap: 1rem;
}

.submit-btn {
  grid-column: 3/4;
  grid-row: 5/6;
  justify-self: flex-end;
  padding: 10px 15px;
  width: 50%;
  cursor: pointer;
  background-color: #198754;
  color: #fff;
  font-weight: 700;
  border: none;
  font-size: 16px;
  transition: 0.3s ease-in-out;
}

.submit-btn:hover {
  color: #136740;
}

/* Add Documents Section */
.add-documents-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.add-documents-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.add-documents-section .file-chooser-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.add-documents-section .file-chooser-btn img {
  width: 250px;
}

.add-documents-section .file-chooser-btn .choose-btn-txt {
  color: #333;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}

.add-documents-section .upload-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.add-documents-section .upload-btn .file-name {
  font-size: 16px;
  color: #555;
  margin-bottom: 1rem;
}

.add-documents-section .upload-btn .upload-btn-txt {
  background-color: #198754;
  padding: 10px 15px;
  color: #fff;
  font-weight: 700;
  transition: 0.3s ease-in-out;
  display: inline-block;
}

.add-documents-section .upload-btn:hover > .upload-btn-txt {
  background-color: #136740;
}
